<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Portal</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/your-code.js" crossorigin="anonymous"></script>
</head>
<body>

    <header class="navbar">
        <div class="logo">MINIPLAY<span>ARENA</span></div>
        <div class="search-bar">
            <input type="text" placeholder="Search games...">
        </div>
        <div class="user-controls">
            <button class="login-btn">Log in</button>
        </div>
    </header>

    <div class="main-container">
        <aside class="sidebar">
            <nav>
                <ul>
                    <a href="/home" class="active">Home</a><br><br>
                    <a href="/home" class="active">New</a><br><br>
                    <a href="/home" class="active">Popular</a><br>
                    <br>
                    <hr>
                    <br>
                    <form method="GET" action="/game/tic-tac">
                        <button>Tic Tac Toe</button>
                    </form>
                    <form method="GET" action="/game/guessing">
                        <button>Number Guessing</button>
                    </form>
                    <form method="GET" action="/game/memory-card">
                        <button>Memory Card</button>
                    </form>
                    <form method="GET" action="/game/rock-paper">
                        <button>Rock Paper Scissors</button>
                    </form>
                    <form method="GET" action="/game/whack-a-mole">
                        <button>Whack-a-mole</button>
                    </form>

                </ul>
            </nav>
        </aside>

        <main class="content">
            <h3>Top picks for you</h3><br>
                <div class="game main-feature" style="background-image: url('/img/cover.png')">
                </div>


            <h3>Featured games</h3> <br>
            <div class="game-grid" id="featured-games">       
                <form method="GET" action="/game/tic-tac">
                    <button type="submit" class="game-btn">
                        <img src="/img/tic-tac-toe.avif" alt="Tic Tac Toe" class="game-card small">
                        <p>Tic Tac Toe</p>
                    </button>
                </form>
            
                <form method="GET" action="/game/guessing">
                    <button type="submit" class="game-btn">
                        <img src="/img/Number Guessing.jpeg" alt="Number Guessing" class="game-card small">
                        <p>Number Guessing</p>
                    </button>
                </form>
            
                <form method="GET" action="/game/memory-card">
                    <button type="submit" class="game-btn">
                        <img src="/img/Memory Card Game.png" alt="Memory Card Game" class="game-card small">
                        <p>Memory Card Game</p>
                    </button>
                </form>
            
                <form method="GET" action="/game/rock-paper">
                    <button type="submit" class="game-btn">
                        <img src="/img/Rock Paper Scissors.jpeg" alt="Rock Paper Scissors" class="game-card small">
                        <p>Rock Paper Scissors</p>
                    </button>
                </form>
            
                <form method="GET" action="/game/whack-a-mole">
                    <button type="submit" class="game-btn">
                        <img src="/img/whack-a-mole.jpeg" alt="whack-a-mole" class="game-card small">
                        <p>Whack-a-mole</p>
                    </button>
                </form>
            </div>

        </main>
    </div>
</body>
</html>