
body { background-color: #0b0b0f; color: white; }


.tic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    background: #1e1e1e;
    color: white;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.cell:hover {
    background: #333;
}

